


/* ################## resourceswrap ################## */
.resourceswrap {
    width: 100%;
    float: left;
    padding: 2rem 0 6rem 0;
    background: #FFFFFF;
  }
  .resourceswrap .wrapper {
    float: none;
    margin: 0 auto;
    width: 95%;
    max-width: 1600px;
    display: flow-root;
  }


  /* icons */
  .type_video, .type_blog, .type_ebook, .type_event, .type_pressrelease, .type_webinar {
    position: relative;
  }
  
  .type_video:before, .type_blog:before, .type_ebook:before, .type_event:before, .type_pressrelease:before, .type_webinar:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    float: right;
  }
  
  
  /* details == title */
  .resources_title {
    width: 100%;
    float: left;
    margin-bottom: 2.5rem;
  }
  .resources_title h2 {
    width: 100%;
    float: left;
    text-align: left;
  }
  .resources_title h2 span {
    display: inline;
    color: #000000;
    font-size: 26px;
    letter-spacing: 1.68px;
    line-height: 35px;
    font-family: "Arial-Black", Arial, sans-serif;
    font-weight: 900;
  }
  .resources_title h2 img {
    display: inline;
    max-width: 100%;
    margin: 0 0 -2px 0;
  }
  .resources_title p {
    width: 100%;
    float: left;
    margin: 0.7rem 0 0.9rem 0;
    text-align: left;
    color: #535353;
    font-size: 18px;
    line-height: 26px;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  .resources_title p span {
    display: inline-block;
  }
  .resources_title p a {
    display: inline-block;
    text-decoration: none;
    color: #535353;
    transition: all 0.4s ease-out;
  }
  .resources_title p a:hover {
    color: #F2662C;
    transition: all 0.4s ease-in;
  }
  .resources_title aside {
    width: 100%;
    float: left;
    text-align: left;
  }
  .resources_title aside a {
    text-decoration: none;
    transition: all 0.4s ease-out;
    color: #242424;
    font-size: 22px;
    margin-right: 1.2rem;
  }
  .resources_title aside a:hover {
    transition: all 0.4s ease-in;
    color: #c4a454;
  }
  
  /* details == container left right */
  .resources_container {
    width: 100%;
    float: left;
  }
  .resources_container .resources_container_left {
    width: 70%;
    float: left;
  }
  .resources_container .resources_container_right {
    width: 27%;
    float: right;
  }
  
  /* details == related or featured post */
  .resources_related {
    width: 100%;
    float: left;
  }
  .resources_related.resources_featured {
    margin-top: 3rem;
  }
  .resources_related h2 {
    width: 100%;
    float: left;
    margin: 0 0 1.5rem 0;
    text-align: left;
    color: #000000;
    font-size: 20px;
    line-height: 26px;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
  }
  .resources_related ul {
    width: 100%;
    float: left;
    padding: 1rem;
    background: #c4a454;
  }
  .resources_related ul li {
    list-style: none;
    position: relative;
    float: left;
    width: 100%;
    padding: 1.5rem;
    margin: 0 0 1rem 0;
    background: #FFFFFF;
  }
  .resources_related ul li:last-child {
    margin-bottom: 0px;
  }
  .resources_related ul li h5 {
    width: 100%;
    float: left;
    text-align: left;
    padding-right: 2rem;
    color: #000000;
    font-size: 16px;
    line-height: 28px;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
  }
  .resources_related ul li p {
    width: 100%;
    float: left;
    margin-top: 0.7rem;
    text-align: left;
    font-size: 14px;
    line-height: 1.2;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
  }
  .resources_related ul li p a {
    text-decoration: none;
    transition: all 0.4s ease-out;
    color: #233D4D;
  }
  .resources_related ul li p a i.fa {
    padding: 0 5px;
    color: #233D4D;
    transition: all 0.4s ease-out;
  }
  .resources_related ul li p a:hover {
    transition: all 0.4s ease-in;
    color: #c4a454;
  }
  .resources_related ul li p a:hover i.fa {
    padding: 0 0 0 10px;
    color: #c4a454;
    transition: all 0.4s ease-in;
  }
  
  /*  webinar */
  .resources_webinar {
    width: 100%;
    float: left;
  }
  .resources_webinar section {
    width: 100%;
    height: 620px;
    float: left;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .resources_webinar section iframe {
    width: 100%;
    height: 100%;
    float: left;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .resources_webinar h2 {
    width: 100%;
    float: left;
    margin: 2rem 0 1rem 0;
    text-align: left;
    color: #000000;
    font-size: 20px;
    line-height: 26px;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
  }
  .resources_webinar p {
    width: 100%;
    float: left;
    text-align: left;
    color: #3C3C3C;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  
  /*  blogpost */
  .resources_blogpost {
    width: 100%;
    float: left;
  }
  .resources_blogpost aside {
    width: 100%;
    float: left;
    margin: 0 0 1rem 0;
  }
  .resources_blogpost aside img {
    width: 100%;
    float: left;
  }
  .resources_blogpost h2 {
    width: 100%;
    float: left;
    margin: 0 0 0 0;
    text-align: left;
    color: #000000;
    font-size: 20px;
    line-height: 26px;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
  }
  .resources_blogpost p {
    width: 100%;
    float: left;
    margin: 1rem 0;
    text-align: left;
    color: #3C3C3C;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  .resources_blogpost h4 {
    width: 100%;
    float: left;
    margin: 1rem 0 0 0;
    text-align: left;
    color: #000000;
    font-size: 20px;
    line-height: 26px;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
  }
  
  /*  review */
  .resources_review {
    width: 100%;
    float: left;
    margin-top: 4rem;
  }
  .resources_review .resources_review_header {
    width: 100%;
    float: left;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #F0F0F0;
  }
  .resources_review .resources_review_header h2 {
    text-align: left;
    font-size: 24px;
    line-height: 31px;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
    color: #000000;
  }
  .resources_review .resources_review_header p {
    text-align: right;
    font-size: 16px;
    line-height: 45px;
    color: #233D4D;
    font-family: "Arial-Medium", Arial, sans-serif;
    font-weight: 500;
  }
  .resources_review .resources_review_header p span {
    margin-right: 0.7rem;
  }
  .resources_review .resources_review_header p a {
    transition: all 0.4s ease-out;
    text-decoration: none;
    color: #000000;
  }
  .resources_review .resources_review_header p a:hover {
    transition: all 0.4s ease-in;
    color: #F2662C;
  }
  .resources_review .resources_review_comments {
    width: 100%;
    float: left;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .resources_review .resources_review_comments aside {
    width: 60px;
    margin-right: 2rem;
  }
  .resources_review .resources_review_comments aside img {
    width: 100%;
    border-radius: 50%;
  }
  .resources_review .resources_review_comments article {
    float: right;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: solid 1px #F0F0F0;
  }
  .resources_review .resources_review_comments article h2 {
    width: 100%;
    float: left;
    text-align: left;
    color: #8D8D8D;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  .resources_review .resources_review_comments article h2 span {
    display: inline-block;
  }
  .resources_review .resources_review_comments article h2 a {
    display: inline-block;
    text-decoration: none;
    color: #8D8D8D;
    transition: all 0.4s ease-out;
  }
  .resources_review .resources_review_comments article h2 a:hover {
    color: #F2662C;
    transition: all 0.4s ease-in;
  }
  .resources_review .resources_review_comments article p {
    width: 100%;
    float: left;
    margin: 0.2rem 0 0.5rem 0;
    text-align: left;
    color: #535353;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  .resources_review .resources_review_comments article h3 {
    width: 100%;
    float: left;
    text-align: left;
  }
  .resources_review .resources_review_comments article h3 span {
    text-decoration: underline;
    cursor: pointer;
    color: #233D4D;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
    transition: all 0.4s ease-out;
  }
  .resources_review .resources_review_comments article h3 span:hover {
    transition: all 0.4s ease-in;
    text-decoration: none;
    color: #F2662C;
  }
  .resources_review .resources_review_comments section {
    float: right;
    width: 100%;
  }
  .resources_review .resources_review_comments section textarea {
    width: 100%;
    float: left;
    padding: 1rem 1.5rem;
    height: 120px;
    outline: none;
    border: none;
    background-color: #F0F0F0;
    text-align: left;
    color: #233D4D;
    font-size: 16px;
    line-height: 26px;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
    resize: none;
  }
  .resources_review .resources_review_comments section textarea::placeholder {
    color: #233D4D;
    opacity: 0.6;
  }
  .resources_review .resources_review_comments section textarea:-ms-input-placeholder {
    color: #233D4D;
    opacity: 0.6;
  }
  .resources_review .resources_review_comments section textarea::-ms-input-placeholder {
    color: #233D4D;
    opacity: 0.6;
  }
  .resources_review .resources_review_comments section .errorcomments {
    display: none;
    width: 100%;
    float: left;
    margin-top: 0.5rem;
    text-align: left;
    color: #F2662C;
    font-size: 14px;
    line-height: 20px;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  .resources_review .resources_review_comments section h6 {
    width: 100%;
    float: left;
    margin-top: 0.7rem;
    text-align: left;
  }
  .resources_review .resources_review_comments section h6 input[type=submit] {
    display: inline-block;
    width: auto;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-out;
    padding: 12px 25px;
    border: none;
    background: #F2662C;
    color: #FFFFFF;
    font-family: "Arial-Medium", Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }
  .resources_review .resources_review_comments section h6 input[type=submit]:hover {
    transition: all 0.4s ease-in;
    background: #000000;
    color: #FFFFFF;
  }
  .resources_review .resources_review_comments:last-child article {
    padding-bottom: 0;
    border-bottom: none;
  }
  
  /*  about */
  .resources_about {
    width: 100%;
    float: left;
  }
  .resources_about p {
    width: 100%;
    float: left;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: #3C3C3C;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  
  /*  filter */
  .resources_filter {
    width: 100%;
    float: left;
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  .resources_filter aside {
    width: 250px;
    float: left;
  }
  .resources_filter aside input[type=text] {
    background: transparent ;
    background-position: right 8px top 50%;
    margin: 0;
    width: 100%;
    float: right;
    border: none;
    border-bottom: solid 1px #707070;
    outline: none;
    padding: 0.5rem 0.5rem;
    font-size: 16px;
    line-height: 1;
    color: #233D4D;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  .resources_filter aside input[type=text]::placeholder {
    color: #707070;
    opacity: 1;
  }
  .resources_filter aside input[type=text]:-ms-input-placeholder {
    color: #707070;
    opacity: 1;
  }
  .resources_filter aside input[type=text]::-ms-input-placeholder {
    color: #707070;
    opacity: 1;
  }
  .resources_filter section {
    width: 800px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .resources_filter section div {
    list-style: none;
    width: 24%;
    margin: 0 2% 0 0;
    position: relative;
  }
  .resources_filter section div:last-child {
    width: 22%;
    margin-right: 0;
  }
  .resources_filter section div .erromsg {
    display: none;
    width: 100%;
    float: left;
    margin-top: 5px;
    font-size: 12px;
    color: #F2662C;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
    text-align: left;
  }
  .resources_filter section div .clearmsg {
    margin-top: 0.7rem;
    float: right;
    clear: both;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    line-height: 21px;
    color: #233D4D;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
    text-align: right;
    transition: all 0.4s ease-out;
  }
  .resources_filter section div .clearmsg:hover {
    color: #F2662C;
    text-decoration: underline;
    transition: all 0.4s ease-in;
  }
  .resources_filter section div .rt_head {
    position: relative;
    width: 100%;
    float: left;
    padding: 0.5rem;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: solid 1px #707070;
    text-align: left;
    font-size: 16px;
    line-height: 1.2;
    color: #535353;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    background: transparent url("../images/dd_black.png") no-repeat;
    background-position: right 5px center;
  }
  .resources_filter section div .rt_head.active {
    border-bottom-color: #FFFFFF;
  }
  .resources_filter section div .rt_body {
    display: none;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 35px;
    padding: 0.5rem 1rem;
    width: 100%;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.062745098);
  }
  .resources_filter section div .rt_body li {
    list-style: none;
    margin: 0.3rem 0;
  }
  .resources_filter section div .rt_body li label {
    margin-left: 5px;
    text-align: left;
    color: #535353;
    font-size: 16px;
    line-height: 1;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
    cursor: pointer;
  }
  .resources_filter section div select {
    width: 100%;
    float: left;
    padding: 0.5rem 0;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: solid 1px #707070;
    text-align: left;
    font-size: 16px;
    line-height: 1.2;
    color: #535353;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
    border-radius: 0;
    text-indent: 1px;
    text-overflow: "";
    -webkit-appearance: none;
    appearance: none;
    background: transparent url("../images/dd_resources.png") no-repeat;
    background-position: right 5px center;
  }
  .resources_filter section div select option {
    color: #000000;
  }
  .resources_filter section div select option:disabled {
    user-select: none;
    pointer-events: none;
  }
  .resources_filter section div input[type=submit], .resources_filter section div input[type=button] {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-out;
    padding: 10px 0;
    border: none;
    background-color: #F2662C;
    color: #FFFFFF;
    font-family: "Arial-Medium", Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 1.2;
    box-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  .resources_filter section div input[type=submit]:hover, .resources_filter section div input[type=button]:hover {
    transition: all 0.4s ease-in;
    background-color: #F2662C;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1607843137);
    color: #FFFFFF;
  }
  
  /*  keywords */
  .resources_keywords {
    width: 100%;
    float: left;
    margin: 1rem 0 0 0;
  }
  .resources_keywords ul {
    width: 100%;
    float: left;
    background: #FFFFFF;
  }
  .resources_keywords ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem 0 0;
    padding: 0.6rem 1rem;
    border: solid 1px #F2662C;
    background: #FFFFFF;
    color: #F2662C;
    font-size: 14px;
    line-height: 18px;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  .resources_keywords ul li span {
    margin-right: 5px;
  }
  .resources_keywords ul li i.fa {
    cursor: pointer;
    color: #F2662C;
    transition: all 0.4s ease-out;
  }
  .resources_keywords ul li i.fa:hover {
    color: #000000;
    transition: all 0.4s ease-in;
  }
  
  /*  list */
  .resources_list {
    width: 100%;
    float: left;
    margin: 2rem 0 0 0;
  }
  .resources_list ul {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .resources_list ul li {
    list-style: none;
    width: 32.1%;
    margin: 1rem 0.6%;
    float: left;
    align-self: stretch;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.0784313725);
  }
  .resources_list ul li aside {
    width: 100%;
    float: left;
    line-height: 0;
  }
  .resources_list ul li aside img {
    width: 100%;
  }
  .resources_list ul li section {
    width: 100%;
    float: left;
    padding: 2rem;
  }
  .resources_list ul li section h4 {
    width: 100%;
    float: left;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 14px;
    line-height: 1;
    color: #707070;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  .resources_list ul li section h4 span {
    display: inline-block;
  }
  .resources_list ul li section h3 {
    width: 100%;
    float: left;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
  }
  .resources_list ul li section p {
    width: 100%;
    float: left;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 14px;
    line-height: 1;
    color: #3C3C3C;
    font-family: "Arial-Regular", Arial, sans-serif;
    font-weight: 300;
  }
  .resources_list ul li section h5 {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .resources_list ul li section h5 a {
    text-decoration: none;
    color: #233D4D;
    transition: all 0.4s ease-out;
    font-size: 14px;
    line-height: 1;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
  }
  .resources_list ul li section h5 a i.fa {
    padding: 0 5px;
    color: #233D4D;
    transition: all 0.4s ease-out;
  }
  .resources_list ul li section h5 a:hover {
    color: #c4a454;
    transition: all 0.4s ease-in;
  }
  .resources_list ul li section h5 a:hover i.fa {
    padding: 0 0 0 10px;
    color: #c4a454;
    transition: all 0.4s ease-in;
  }
  .resources_list ul li section h5 span {
    color: #233D4D;
    transition: all 0.4s ease-out;
    cursor: pointer;
    width: 19px;
    height: 20px;
    background: url("../images/share-orange.png") no-repeat center center;
    line-height: 1;
    text-decoration: none;
    filter: grayscale(1);
  }
  .resources_list ul li section h5 span i.fa {
    display: none;
  }
  .resources_list ul li section h5 span:hover {
    filter: grayscale(0);
    transition: all 0.4s ease-in;
  }
  
  /*  pagination */
  .resources_pagination {
    width: 100%;
    float: left;
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resources_pagination p {
    background: #FFFFFF;
    padding: 8px 16px;
    font-size: 30px;
  }
  .resources_pagination p a {
    text-decoration: none;
    color: #3E3E3E;
    transition: all 0.4s ease-out;
  }
  .resources_pagination p a i.fa {
    padding: 0;
  }
  .resources_pagination p a span {
    display: none;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
  }
  .resources_pagination p a:hover {
    color: #c4a454;
    transition: all 0.4s ease-in;
  }
  .resources_pagination div h2 {
    display: none;
  }
  .resources_pagination div ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resources_pagination div ul li {
    list-style: none;
    margin: 0;
    padding: 0 0.5rem;
    font-size: 20px;
    font-family: "Arial-Bold", Arial, sans-serif;
    font-weight: 700;
  }
  .resources_pagination div ul li a {
    text-decoration: none;
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    color: #3E3E3E;
    transition: all 0.4s ease-out;
  }
  .resources_pagination div ul li a:hover {
    background: #c4a454;
    color: #FFFFFF;
    transition: all 0.4s ease-in;
  }
  .resources_pagination div ul li.active a {
    background: #c4a454;
    color: #FFFFFF;
    user-select: none;
    pointer-events: none;
  }
  
  @media only screen and (max-width: 1565px) {
    /* details == webinar */
    .resources_webinar section {
      height: 495px;
    }
  }
  @media only screen and (max-width: 1300px) {
    /* details == webinar */
    .resources_webinar section {
      height: 480px;
    }
    /*  about */
    .resources_about p {
      font-size: 16px;
      line-height: 28px;
    }
    /*  filter */
    .resources_filter aside {
      width: 220px;
    }
    .resources_filter aside input[type=text] {
      font-size: 16px;
    }
    .resources_filter section {
      width: 700px;
    }
    .resources_filter section div .clearmsg {
      font-size: 16px;
      line-height: 18px;
    }
    .resources_filter section div .rt_head {
      font-size: 16px;
    }
    .resources_filter section div .rt_head:after {
      padding: 2px;
    }
    .resources_filter section div .rt_body {
      top: 35px;
    }
    .resources_filter section div .rt_body li label {
      font-size: 16px;
    }
    .resources_filter section div select {
      font-size: 16px;
    }
    /*  keywords */
    .resources_keywords ul li {
      margin: 0 0.5rem 0 0;
      padding: 0.5rem;
      font-size: 12px;
      line-height: 16px;
    }
    /*  list */
    .resources_list ul li {
      width: 31.4%;
      margin: 1rem 0.7%;
    }
    .resources_list ul li section {
      padding: 1.5rem;
    }
    .resources_list ul li section h4 {
      font-size: 16px;
      line-height: 18px;
    }
    .resources_list ul li section h3 {
      font-size: 18px;
      line-height: 26px;
    }
    .resources_list ul li section p {
      font-size: 16px;
      line-height: 24px;
    }
    .resources_list ul li section h5 a {
      font-size: 16px;
      line-height: 18px;
    }
    .resources_list ul li section h5 span {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 1255px) {
    /* icons */
    .type_video:before, .type_blog:before, .type_ebook:before, .type_event:before, .type_pressrelease:before, .type_webinar:before {
      height: 28px;
      width: 28px;
    }
    /* details == title */
    .resources_title {
      margin-bottom: 1.5rem;
    }
    .resources_title h2 span {
      font-size: 22px;
      letter-spacing: 1.32px;
      line-height: 36px;
    }
    .resources_title h2 img {
      margin: 0 0 -2px 0;
    }
    .resources_title p {
      margin: 0.5rem 0 0.7rem 0;
      font-size: 17px;
      line-height: 28px;
    }
    .resources_title aside a {
      font-size: 18px;
      margin-right: 1rem;
    }
    /* details == container left right */
    .resources_container {
      width: 100%;
      float: left;
    }
    .resources_container .resources_container_left {
      width: 67%;
      float: left;
    }
    .resources_container .resources_container_right {
      width: 30%;
      float: right;
    }
    /* details == webinar */
    .resources_webinar section {
      height: 360px;
    }
    .resources_webinar h2 {
      margin: 2rem 0 1rem 0;
      font-size: 18px;
      line-height: 21px;
    }
    .resources_webinar p {
      font-size: 16px;
      line-height: 26px;
    }
    /* details == related or featured post */
    .resources_related {
      width: 100%;
      float: left;
    }
    .resources_related h2 {
      font-size: 18px;
      line-height: 21px;
    }
    .resources_related ul {
      padding: 1rem;
    }
    .resources_related ul li {
      padding: 1rem;
      margin: 0 0 1rem 0;
    }
    .resources_related ul li h5 {
      font-size: 16px;
      line-height: 26px;
    }
    .resources_related ul li p {
      font-size: 16px;
      line-height: 1;
    }
    /*  blogpost */
    .resources_blogpost {
      width: 100%;
      float: left;
    }
    .resources_blogpost aside {
      width: 100%;
      float: left;
      margin: 0 0 1rem 0;
    }
    .resources_blogpost aside img {
      width: 100%;
      float: left;
    }
    .resources_blogpost h2 {
      font-size: 18px;
      line-height: 26px;
    }
    .resources_blogpost p {
      font-size: 16px;
      line-height: 26px;
    }
    .resources_blogpost h4 {
      font-size: 18px;
      line-height: 26px;
    }
    /*  review */
    .resources_review {
      margin-top: 3rem;
    }
    .resources_review .resources_review_header h2 {
      font-size: 24px;
      line-height: 40px;
    }
    .resources_review .resources_review_header p {
      font-size: 14px;
      line-height: 40px;
    }
    .resources_review .resources_review_comments aside {
      width: 30px;
      margin-right: 1rem;
    }
    .resources_review .resources_review_comments article h2 {
      font-size: 14px;
      line-height: 28px;
    }
    .resources_review .resources_review_comments article p {
      font-size: 16px;
      line-height: 24px;
    }
    .resources_review .resources_review_comments article h3 span {
      font-size: 14px;
      line-height: 28px;
    }
    .resources_review .resources_review_comments section textarea {
      height: 100px;
      padding: 0.7rem 1rem;
      font-size: 14px;
      line-height: 22px;
    }
  }
  @media only screen and (max-width: 1023px) {
    /* ################## resourceswrap ################## */
    .resourceswrap {
      padding-bottom: 3rem;
    }
    /* details == container left right */
    .resources_container .resources_container_left {
      width: 100%;
    }
    .resources_container .resources_container_right {
      width: 100%;
      margin-top: 3rem;
    }
    /* details == webinar */
    .resources_webinar section {
      height: 400px;
    }
    /*  filter */
    .resources_filter {
      flex-wrap: wrap;
    }
    .resources_filter aside {
      width: 100%;
      margin-bottom: 1rem;
    }
    .resources_filter section {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .resources_filter section div {
      width: 48%;
      margin: 0;
    }
    .resources_filter section div:last-child {
      width: 48%;
    }
    .resources_filter section div:nth-child(1) {
      margin-bottom: 1rem;
    }
    .resources_filter section div:nth-child(2) {
      margin-bottom: 1rem;
    }
    .resources_filter section div .rt_body {
      top: 35px;
    }
    .resources_filter section div .rt_body li label {
      font-size: 16px;
    }
    .resources_filter section div select {
      font-size: 16px;
    }
    /*  keywords */
    .resources_keywords ul li {
      margin: 0.1rem;
    }
    /*  list */
    .resources_list ul li {
      width: 47%;
      margin: 1rem 1.5%;
    }
    .resources_list ul li section {
      padding: 1rem;
    }
    /*  pagination */
    .resources_pagination p {
      font-size: 21px;
    }
    .resources_pagination div {
      position: relative;
      width: 80px;
      margin-right: 10px;
    }
    .resources_pagination div h2 {
      display: block;
      width: 100%;
      float: left;
      background: transparent;
      position: relative;
      padding: 7px 0;
      margin: 0;
      cursor: pointer;
      font-size: 20px;
      font-family: "Arial-Bold", Arial, sans-serif;
      font-weight: 700;
      color: #3C3C3C;
      cursor: pointer;
      text-align: center;
    }
    .resources_pagination div h2:after {
      content: "";
      position: absolute;
      right: 9px;
      top: 40%;
      transform: rotate(-135deg);
      padding: 3px;
      border-left: 1px solid #3D3D3D;
      border-top: 1px solid #3D3D3D;
    }
    .resources_pagination div ul {
      display: none;
      position: absolute;
      right: 0;
      top: 39px;
      width: 100%;
      height: 120px;
      float: left;
      padding: 0;
      border-top: solid 1px #FAFAFA;
      overflow: hidden;
      overflow-y: scroll;
      background: #F4F7F8;
      flex-direction: column;
    }
    .resources_pagination div ul li {
      width: 100%;
      float: left;
      text-align: center;
      padding: 0;
    }
    .resources_pagination div ul li a {
      background: transparent;
      width: 100%;
      height: auto;
      border-radius: 0;
      line-height: 1;
      padding: 0.4rem 0;
      color: #233D4D;
    }
    .resources_pagination div ul li a:hover {
      background: #233D4D;
      color: #FFFFFF;
    }
    .resources_pagination div ul li.active a {
      background: #233D4D;
      color: #FFFFFF;
    }
  }
  @media only screen and (max-width: 767px) {
    /* details == webinar */
    .resources_webinar section {
      height: 310px;
    }
    /*  review */
    .resources_review .resources_review_header {
      flex-wrap: wrap;
    }
    .resources_review .resources_review_header h2 {
      width: 100%;
      line-height: 1.4;
    }
    .resources_review .resources_review_header p {
      margin-top: 0.7rem;
      width: 100%;
      line-height: 1.4;
    }
  }
  @media only screen and (max-width: 599px) {
    /* details == webinar */
    .resources_webinar section {
      height: 250px;
    }
    /*  list */
    .resources_list ul {
      justify-content: center;
    }
    .resources_list ul li {
      width: 98%;
      margin: 0.5rem 0;
    }
    .resources_list ul li section {
      padding: 1rem;
    }
  }
  @media only screen and (max-width: 479px) {
    /* ################## resourceswrap ################## */
    .resourceswrap {
      padding-bottom:3rem;
    }
    /* details == webinar */
    .resources_webinar section {
      height: 190px;
    }
    /*  filter */
    .resources_filter section div {
      width: 100%;
      margin-bottom: 1rem;
    }
    .resources_filter section div:last-child {
      width: 100%;
    }
    .resources_filter section div .rt_body {
      top: 35px;
    }
    .resources_filter section div .rt_body li label {
      font-size: 16px;
    }
    .resources_filter section div select {
      font-size: 16px;
    }
    .resources_filter section div input[type=submit], .resources_filter section div input[type=button] {
      float: left;
      width: 50%;
    }
    .resources_filter section div .clearmsg {
      clear: none;
      float: left;
      margin-left: 2rem;
    }
  }